DATABASE_URL="postgresql://neondb_owner:npg_Kb1LmGeA6WYr@ep-patient-moon-ao5hhee7.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
AUTH_SECRET="b97931bbe4850b6718848a8d838bcb34"
NEXT_PUBLIC_APP_NAME="POS"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"
TELEGRAM_WEBHOOK_SECRET="your_webhook_secret_here"
